.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.title {
  font-family: var(--text-family);
  font-size: var(--text-size-title);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
}

.title .text__tron {
  font-size: var(--text-size-title);
}

.container__timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-block: 50px;
  margin-inline: 50px;
}

/* центральная линия start */
.center__line {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 100%;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
}

.center__line::before {
  position: absolute;
  content: "";
  top: -27px;
  left: -11px;
  width: 25px;
  height: 25px;
  backdrop-filter: blur(5px);
  background: var(--color-glass-background);
  border: 1px solid var(--color-glass-border);
  border-radius: 50%;
}

.center__line::after {
  position: absolute;
  content: "";
  bottom: -27px;
  right: -11px;
  width: 25px;
  height: 25px;
  backdrop-filter: blur(5px);
  background: var(--color-glass-background);
  border: 1px solid var(--color-glass-border);
  border-radius: 50%;
}

/* центральная линия end */

/* позиционирование карточки starrt */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  text-decoration: none;
  margin-block-end: 10px;
}

.card:nth-of-type(odd) {
  left: -300px;
}

.card:nth-of-type(even) {
  left: 300px;
}

/* позиционирование карточки end */

/* горизонтальная палка start */
.card:nth-of-type(odd)::after,
.card:nth-of-type(even)::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 3px;
  backdrop-filter: blur(5px);
  background: var(--color-glass-background);
  border-top: 1px solid var(--color-glass-border);
  border-bottom: 1px solid var(--color-glass-border);
}

.card:nth-of-type(odd)::after {
  top: 50px;
  right: -91px;
}

.card:nth-of-type(even)::after {
  top: 50px;
  left: -91px;
}

/* горизонтальная палка end */

/* точка start */
.card:nth-of-type(odd)::before,
.card:nth-of-type(even)::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  backdrop-filter: blur(5px);
  background: var(--color-glass-background);
  border: 1px solid var(--color-glass-border);
  border-radius: 50%;
}

.card:nth-of-type(odd)::before {
  top: 44px;
  right: -108px;
}

.card:nth-of-type(even)::before {
  top: 44px;
  left: -108px;
}

/* точка end */

.time {
  position: absolute;
  top: 12px;
  color: var(--color-text);
  font-size: var(--text-size);
  font-weight: 400;
}

.card:nth-of-type(odd) .time {
  right: -75px;
}

.card:nth-of-type(even) .time {
  left: -75px;
}

.figure {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: block;
  width: 95%;
  height: 97%;
  object-fit: cover;
  object-position: center center;
  border-radius: 16px;
}

.caption {
  position: absolute;
  top: 19px;
  margin: 0;
  padding: 1px 7px 7px 7px;
  font-size: var(--text-size);
  color: var(--color-text);
  text-transform: lowercase;
  letter-spacing: 2px;
}

.card:nth-of-type(odd) .caption {
  right: 21px;
}

.card:nth-of-type(even) .caption {
  left: 21px;
}

@media (max-width: 1090px) {}

@media (min-width: 1921px) {
  .title {
    font-size: var(--text-size-title-4k);
  }

  .title .text__tron {
    font-size: var(--text-size-title-4k);
  }
}