.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: content;
  margin-top: 100px;
  margin-inline: 20px;
}

.container__timeline {
  position: relative;
  margin-block: 60px;
}

/* центральная линия start */
.center__line {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 100%;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
}

.center__line::before {
  position: absolute;
  content: "";
  top: -27px;
  left: -11px;
  width: 25px;
  height: 25px;
  backdrop-filter: blur(5px);
  background: var(--color-glass-background);
  border: 1px solid var(--color-glass-border);
  border-radius: 50%;
}

.center__line::after {
  position: absolute;
  content: "";
  bottom: -27px;
  right: -11px;
  width: 25px;
  height: 25px;
  backdrop-filter: blur(5px);
  background: var(--color-glass-background);
  border: 1px solid var(--color-glass-border);
  border-radius: 50%;
}

/* центральная линия end */

/* позиционирование карточки starrt */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  text-decoration: none;
  margin-block-end: 10px;
}

.card:nth-of-type(odd) {
  left: -300px;
}

.card:nth-of-type(even) {
  left: 300px;
}

/* позиционирование карточки end */

/* горизонтальная палка start */
.card:nth-of-type(odd)::after,
.card:nth-of-type(even)::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 3px;
  backdrop-filter: blur(5px);
  background: var(--color-glass-background);
  border-top: 1px solid var(--color-glass-border);
  border-bottom: 1px solid var(--color-glass-border);
}

.card:nth-of-type(odd)::after {
  top: 50px;
  right: -91px;
}

.card:nth-of-type(even)::after {
  top: 50px;
  left: -91px;
}

/* горизонтальная палка end */

/* точка start */
.card:nth-of-type(odd)::before,
.card:nth-of-type(even)::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  backdrop-filter: blur(5px);
  background: var(--color-glass-background);
  border: 1px solid var(--color-glass-border);
  border-radius: 50%;
}

.card:nth-of-type(odd)::before {
  top: 44px;
  right: -108px;
}

.card:nth-of-type(even)::before {
  top: 44px;
  left: -108px;
}

/* точка end */

.time {
  position: absolute;
  top: 12px;
}

.card:nth-of-type(odd) .time {
  left: 425px;
}

.card:nth-of-type(even) .time {
  left: -75px;
}

.figure {
  position: relative;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: block;
  width: 95%;
  height: 96%;
  object-fit: cover;
  object-position: center center;
  border-radius: var(--radius-medium);
  transition: transform .3s;
}

.image:hover {
  transform: scale(1.02);
}

.caption {
  position: absolute;
  top: 21px;
  margin: 0;
  padding: 0 7px 7px 7px;
  text-transform: lowercase;
  letter-spacing: 2px;
  border-radius: var(--radius-small);
}

.card:nth-of-type(odd) .caption {
  left: 20px;
}

.card:nth-of-type(even) .caption {
  left: 20px;
}

@media (max-width: 1090px) {

  /* центральная линия start */
  .center__line {
    left: 0;
    transform: translateX(0);
  }

  /* центральная линия end */

  /* позиционирование карточки starrt */
  .card {
    width: 300px;
    height: 450px;
  }

  .card:nth-of-type(odd) {
    left: 104px;
  }

  .card:nth-of-type(even) {
    left: 104px;
  }

  /* позиционирование карточки end */

  /* горизонтальная палка start */
  .card:nth-of-type(odd)::after {
    left: -91px;
  }

  /* горизонтальная палка end */

  /* точка start */
  .card:nth-of-type(odd)::before {
    left: -108px;
  }

  /* точка end */

  .card:nth-of-type(odd) .time {
    left: -75px;
  }

  .caption {
    top: 13px;
  }
  
  .card:nth-of-type(odd) .caption {
    left: 13px;
  }
  
  .card:nth-of-type(even) .caption {
    left: 13px;
  }

}

@media (max-width: 560px) {

  /* центральная линия start */
  .center__line {
    left: 0;
    transform: translateX(0);
  }

  /* центральная линия end */

  .card {
    width: 200px;
    height: 300px;
  }

  .card:nth-of-type(odd) {
    left: 60px;
  }

  .card:nth-of-type(even) {
    left: 60px;
  }

  /* позиционирование карточки end */

  /* горизонтальная палка start */
  .card:nth-of-type(odd)::after,
  .card:nth-of-type(even)::after {
    width: 49px;
  }

  .card:nth-of-type(odd)::after {
    left: -49px;
  }

  .card:nth-of-type(even)::after {
    left: -49px;
  }

  /* горизонтальная палка end */
  
  /* точка start */
  .card:nth-of-type(odd)::before {
    left: -64px;
  }

  .card:nth-of-type(even)::before {
    left: -64px;
  }

  /* точка end */

  .card:nth-of-type(odd) .time {
    left: -45px;
  }

  .card:nth-of-type(even) .time {
    left: -45px;
  }

  .caption {
    top: 10px;
  }

  .card:nth-of-type(odd) .caption {
    left: 10px;
  }

  .card:nth-of-type(even) .caption {
    left: 10px;
  }
}
