@font-face {
  font-display: swap;
  font-family: 'Oswald';
  src: url(../fonts/Oswald-VariableFont_wght.ttf);
  font-weight: 200 700;
}

@font-face {
  font-family: 'Tr2n';
  src: url(../fonts/Tr2n.ttf);
}

html {
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  background-color: var(--body-color-background);
  background-image: var(--body-image-background);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.glass {
  backdrop-filter: var(--backdrop-filter);
  background: var(--color-glass-background);
  border: 1px solid var(--color-glass-border);
  border-radius: var(--radius-large);
}

.text__logo {
  font-family: var(--text-tron);
  font-size: var(--text-size-tron);
  font-weight: 200;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text-header);
  text-shadow: var(--color-text-shadow);
  user-select: none;
  transition: text-shadow var(--second-3);
}

.text__logo:hover {
  text-shadow: var(--color-text-shadow-Ares);
}

.text__link-header {
  font-family: var(--text-family);
  font-size: var(--text-size-header);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: var(--color-text-header);
  text-shadow: var(--color-text-shadow);
  user-select: none;
  transition: text-shadow var(--second-3);
}

.text__link-header:hover {
  text-shadow: var(--color-text-shadow-Ares);
}

.title {
  font-family: var(--text-family);
  font-size: var(--text-size-title);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
}

.text {
  font-family: var(--text-family);
  font-size: var(--text-size);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--color-text);
  text-shadow: var(--color-text-shadow);
}

.text__tron {
  font-family: var(--text-tron);
  font-size: var(--text-size-title);
  font-weight: 200;
  font-style: normal;
  color: var(--color-text);
  text-shadow: var(--color-text-shadow);
}

@media (min-width: 1921px) {
  .logo {
    font-size: var(--text-size-tron-4k);
  }

  .nav__link {
    font-size: var(--text-size-header-4k);
  }

  .button {
    font-size: var(--text-size-header-4k);
  }

  .title {
    font-size: var(--text-size-title-4k);
  }

  .text__tron {
    font-size: var(--text-size-title-4k);
  }
}