:root {
  --text-family: "Oswald", sans-serif;
  --text-tron: "Tr2n";
  /* body */
  --body-color-background: oklch(0.1 0.04 255);
  --body-image-background: url(../images/bg.webp);

  /* time */
  --second-3: .3s;

  /* border-radius */
  --radius-large: 16px;
  --radius-medium: 11px;
  --radius-small:7px;

  /* glass */
  --color-glass-background: oklch(1 0 0 / 20%);
  --color-glass-background-dropmenu: oklch(1 0 0 / 30%);
  --color-glass-shadow: oklch(0 0 0 / 10%);
  --color-glass-border: oklch(1 0 0 / 30%);
  --backdrop-filter: blur(55px);

  /* --text-header */
  --text-size-tron: clamp(2.75rem, 2.204rem + 2.33vw, 5rem);
  --text-size-header: clamp(1.25rem, 1.007rem + 1.036vw, 2.25rem);
  --text-size-tron-4k: clamp(5rem, 1.246rem + 3.127vw, 8.75rem);
  --text-size-header-4k: clamp(2.25rem, 0.748rem + 1.251vw, 3.75rem);

  --color-text-header: oklch(1 0 0);
  --color-text-accent: oklch(0.72 0.1733 237.7);
  
  --color-shadow: oklch(0.72 0.1733 237.7);
  
  --color-text-shadow:
  0 0 5px var(--color-shadow),
  0 0 5px var(--color-shadow),
  0 0 10px var(--color-shadow),
  0 0 15px var(--color-shadow),
  0 0 30px var(--color-shadow),
  0 0 50px var(--color-shadow),
  0 0 70px var(--color-shadow),
  0 0 90px var(--color-shadow),
  0 0 110px var(--color-shadow)
  ;
  
  /* main */
  --text-size-title: clamp(1.625rem, 1.322rem + 1.294vw, 2.875rem);
  --text-size-title-4k: clamp(2.875rem, -1.75rem + 3.854vw, 7.5rem);
  --text-size: clamp(1.25rem, 1.098rem + 0.647vw, 1.875rem);
  --text-size-4k: clamp(1.875rem, -0.628rem + 2.084vw, 4.375rem);
  
  --color-text: oklch(1 0 0);
  --color-text-pale: oklch(1 0 0 / .7);

  /* Tron: Ares */

  --color-shadow-Ares: oklch(0.65 0.2726 25.53);

  --color-text-shadow-Ares:
    0 0 5px var(--color-shadow-Ares),
    0 0 5px var(--color-shadow-Ares),
    0 0 10px var(--color-shadow-Ares),
    0 0 15px var(--color-shadow-Ares),
    0 0 30px var(--color-shadow-Ares),
    0 0 50px var(--color-shadow-Ares),
    0 0 70px var(--color-shadow-Ares),
    0 0 90px var(--color-shadow-Ares),
    0 0 110px var(--color-shadow-Ares)
  ;
}